.create-button-disabled > button {
  background: lightgray;
  background-image: none;
}

.button-basic-reset {
  min-height: 52px;
}

.button-small .ink-btn {
  padding: 6px;
  min-height: 32px;
  min-width: 32px;
}

.button-naked .ink-btn {
  background: none;
  border: none;
  padding: 4px;
  min-height: auto;
  min-width: auto;
}

.button-naked .ink-btn:active:not([disabled]):not([aria-disabled="true"]) {
  background: none;
  color: inherit;
}
